* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  
  font-family: Golos, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.d-none {
  display: none !important;
}



