$blackOnyx: #000000;
$darkGray:  #707075;
$white:     #ffffff;
$bg5:       #F0E3F4;
$violet:    #891D56;
$bviolet:   #962157;
$gray:      #DCDFE4;
$gray2:     #E8EAED;
$gray3:     #505968;
$red:       #F52D00;
