.lk-icon {
  display: block;
  position: relative;
  border-radius: 50%;
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background: no-repeat center center;
  }
  
  &--40 {
    width: 40px;
    height: 40px;
    
    &:before {
      width: 40px;
      height: 40px;
    }
  }
  
  &--64 {
    width: 64px;
    height: 64px;
    
    &:before {
      width: 32px;
      height: 32px;
    }
  }
  
  &--60 {
    width: 60px;
    height: 60px;
    
    &:before {
      width: 60px;
      height: 60px;
    }
  }
  
  &--80 {
    width: 80px;
    height: 80px;
    
    &:before {
      width: 80px;
      height: 80px;
      background-size: cover;
    }
  }
  &--100 {
     width: 100px;
     height: 100px;
  
     &:before {
       width: 100px;
       height: 100px;
       background-size: cover;
     }
   }
  
  &--badge:before {
    background-image: url('./local/templates/lk/components/bitrix/catalog/recruitment/assets/img/icons/icon-badge.svg');
  }
  
  &--graduation-hat:before {
    background-image: url('./local/templates/lk/components/bitrix/catalog/recruitment/assets/img/icons/graduation-hat.svg');
  }
  
  &--tripod:before {
    background-image: url('./local/templates/lk/components/bitrix/catalog/recruitment/assets/img/icons/tripod.svg');
  }
  
  &--certificate:before {
    background-image: url('./local/templates/lk/components/bitrix/catalog/recruitment/assets/img/icons/certificate.svg');
  }

  &--done:before {
    background-image: url('./local/templates/lk/components/bitrix/catalog/recruitment/assets/img/icons/icon-done-24.svg');
  }
  
  &--done-color:before {
    background-image: url('./local/templates/lk/components/bitrix/catalog/recruitment/assets/img/icons/icon-done-color.svg');
  }
  
  &--chair:before {
    background-image: url('./local/templates/lk/components/bitrix/catalog/recruitment/assets/img/icons/chair.svg');
  }
 
  &--social-media:before {
    background-image: url('./local/templates/lk/components/bitrix/catalog/recruitment/assets/img/icons/social-media.svg');
  }
  
  &--recruiter:before {
    background-image: url('./local/templates/lk/components/bitrix/catalog/recruitment/assets/img/icons/recruiter.svg');
  }
  
  &--obrazovaniye:before {
    background-image: url('./local/templates/lk/components/bitrix/catalog/recruitment/assets/img/icons/obrazovaniye.svg');
  }
  
  &--warning:before {
    background-image: url('./local/templates/lk/components/bitrix/catalog/recruitment/assets/img/icons/warning.svg');
  }
  
  &--info-red:before {
    background-image: url('./local/templates/lk/components/bitrix/catalog/recruitment/assets/img/icons/info-red.svg');
  }
}