.lk-inform-card {
  margin: 30px 0;
  font-family: Golos, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $blackOnyx;
  
  &__wrapper {
    margin: 0 -12px;
    display: flex;
    flex-wrap: wrap;
  }
  
  &__col {
    width: 50%;
    padding: 0 12px 24px;
    
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  
  &__title {
    margin: 24px 0px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    
    &--big {
      font-size: 22px;
      line-height: 28px;
    }
  }
  
  &__icon {
    margin-right: 24px;
  }
  
  &__item {
    height: 100%;
    padding: 24px;
    display: flex;
    background-color: #ffffff;
    border-radius: 4px;
  
    @media (min-width: 991px) {
      min-height: 240px;
    }
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .lk-button--border {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
  }
  
  &__subtitle {
    display: inline-block;
    margin: 0 0 4px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: $blackOnyx;
    transition: color .2s;
    &:hover {
      color: $violet;
      text-decoration: underline;
    }
    
    &--link {
      
      text-decoration: underline;
      
      &:hover, &:active {
        color: $violet;
      }
    }
  }
  
  &__desc {
    margin: 0 0 14px;
  }
  
  &__link {
    width: fit-content;
    display: flex;
    align-items: center;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #8f1a50;
    text-decoration: none;
    transition: .2s;
    
    &:after {
      margin-left: 12px;
      display: block;
      content: '';
      width: 24px;
      height: 24px;
      mask-image: url('./local/templates/lk/components/bitrix/catalog/recruitment/assets/img/icons/link.svg');
      background-color: #8f1a50;
    }
    
    &:hover {
      text-decoration: underline;
      color: #962157;
      
      &:after {
        background-color: #962157;
      }
    }
  }
}