.lk-popup {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  
  background-color: rgba(0, 0, 0, 0.5);
  
  &--active {
    display: flex;
  }
  
  &__wrapper {
    width: 650px;
    padding: 32px;
    
    background-color: #ffffff;
    border-radius: 4px;
  }
  
  &__header {
    position: relative;
  }
  
  &__title {
    margin: 0 24px 0 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #333333;
  }
  
  &__close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0;
    mask-image: url('./local/templates/lk/components/bitrix/catalog/recruitment/assets/img/icons/close.svg');
    background-color: #a7a7ab;
    cursor: pointer;
    transition: .2s;
    
    &:hover {
      background-color: #333333;
    }
  }
  
  &__content {
    margin-top: 24px;
  }
  
  &__desc {
    margin: 0 0 12px;
  
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    
    &--small {
      margin: 6px 0;
      
      font-size: 14px;
      line-height: 20px;
      color: #000000;
    }
  }
  
  &__evaluations {
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.12);
    
    &-input {
      display: none;
    }
    
    
    &-label {
      flex-grow: 1;
      text-align: center;
      padding: 6px;
      
      font-size: 18px;
      line-height: 28px;
      color: #a7a7ab;
      border-right: 1px solid rgba(0, 0, 0, 0.12);
      transition: .2s;
      
      &:last-child {
        border-right: none;
      }
      
      
      &--selected {
        font-weight: 600;
        color: #891D56;
        background-color: #F5F5F7;
      }
      
      &:hover {
        color: #ffffff;
        background-color: #891d56;
      }
    }
  }
  
  &__comment {
    margin-top: 20px;
  }
  
  &__textarea {
    width: 100%;
    padding: 10px 8px;
    
    border-radius: 4px;
    border-color: #DCDFE4;
    font-family: Golos, sans-serif;
    color: $blackOnyx;
    resize: none;
  }
  
  &__btn {
    width: 100%;
    padding: 18px 20px;
    margin-top: 46px;
  
    border: none;
    border-radius: 4px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;

  }

  &__tiket-value {
    display: none;
  }

  &__reqired {
    margin-left: 4px;

    color: #F52D00;
    font-width: 500;
  }
}
