.sanction-popup {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  font-family: Golos, sans-serif;
  background-color: rgba(0, 0, 0, 0.5);

  &--active {
    display: block;
    overflow-y: auto;


  }

  &__wrapper {
    position: relative;
    width: 650px;
    padding: 32px;
    margin: 50px auto;

    background-color: #ffffff;
    border-radius: 4px;
  }

  &__tab {
    display: none;
  }
  
  [data-js='switch-state'] {
    display: none;
  }
  
  &[data-progress="1"] {
    [data-state="1"] {
      display: block;
    }
  }

  &[data-progress="2"] {

    [data-state="2"] {
      display: block;
    }

    //.sanction-popup__btns {
    //  justify-content: right;
    //}
    //.sanction-popup__skip {
    //  display: none;
    //}
  }

  &[data-progress="3"] {

    [data-state="3"] {
      display: block;
    }

    .sanction-popup__footer {
      display: none;
    }

    .sanction-popup__header {
      margin-bottom: 0;
    }
  }

  &__title {
    margin: 0 24px 0 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #333333;
  }
  
  &__alert {
    background: #d9e8fb;
    border-radius: 4px;
    padding: 8px;
    
    &-title {
      font-weight: 600;
      font-size: 16px;
    }
  }

  &__close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 34px;
    right: 32px;
    border: none;
    box-shadow: none;
    background: url('../../local/templates/lk/components/bitrix/catalog/recruitment/assets/img/icons/close.svg');
    cursor: pointer;
  }

  &__header {
    margin: 0 24px 32px 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #333333;
  }

  &__body {
    margin: 16px 0;

    font-family: Golos, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
  }

  &__block {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }


  &__label {
    display: block;
    position: relative;

    &--radio {
      padding-left: 32px;

      &-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4px;
      }
    }
  }

  &__radio {
    position: absolute;
    z-index: -1;
    height: 1px;
    width: 1px;
    left: 8px;
    top: 8px;

    &-title {
      margin-bottom: 8px;

      font-size: 16px;
    }

    &-info {
      width: 80px;

      &:last-child {
        text-align: right;
      }
    }

    &-mark {
      position: absolute;
      z-index: 5;
      top: 2px;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid #777;
      border-radius: 50%;
      background: white;
      box-shadow: 0px 0px 1px 1px #fff inset;
      transition: .2s;
    }

    &:checked ~ .sanction-popup__radio-mark {
      background: #891D56;
    }

    &-section {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 32px;

      .sanction-popup__radio {
        left: unset;
        top: unset;
        bottom: 8px;
      }

      .sanction-popup__radio-mark {
        position: relative;
        margin-top: 16px;
      }
    }
  }

  &__textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border-color: #777777;

    &:active, &:focus {
      border-color: #891D56;
    }
  }

  &__footer {
    margin: 16px 0 0;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }

  &__btn {
    padding: 8px 16px;

    box-shadow: none;
    background: #891D56;
    color: white;
    border: none;
    border-radius: 4px;

    font-family: Golos, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    transition: .2s;

    &:hover {
      background: #B8126A;
    }
    
    &:disabled {
      background: #777;
    }
  }

  &__skip {
    color: #891D56;
    text-decoration: underline;
    transition: .2s;

    &:hover {
      color: #B8126A;
    }
  }

  &--required {
    color: red;
  }
  
}