html(lang="ru")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="./lk.css" rel="stylesheet")
    link(href="./main-lk.css" rel="stylesheet")

  body
    .lk-wrap
      .container
        .lk-row
          .lk-aside.lk-col.lk-col_lg_3
          .lk-content.lk-col.lk-col_lg_9
            .lk-page-head
              a.lk-page-head__breadcrumbs(href="/")
                | Подбор кадров
            .lk-info-block
              .lk-info-block__content
                h2.lk-info-block__title Информация о государственных программах и инструментах содействия занятости населения
                p.lk-info-block__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .lk-info-block__btns
                  a.lk-button.lk-button--link(href="#" data-for-popup="getConsultation") Получить консультацию специалиста
                  a.lk-button.lk-button--link(href='#') Вопрос-ответ
              .lk-info-block__icon.lk-bg--5
                .lk-icon.lk-icon--100.lk-icon--certificate

            .lk-inform-card
              .lk-inform-card__head
                h4.lk-inform-card__title [Гос программы, которые помогут вам обзавестись кадрами]
              .lk-inform-card__wrapper
                .lk-inform-card__col
                  .lk-inform-card__item
                    .lk-inform-card__icon
                      .lk-icon.lk-icon--64.lk-icon--done.lk-bg--5
                    .lk-inform-card__content
                      .lk-inform-card__text
                        h4.lk-inform-card__subtitle Программа повышения трудовой мобильности
                        p.lk-inform-card__desc В рамках Программы работодатели могут получить финансовую поддержку для привлечения трудовых ресурсов.
                      a.lk-inform-card__link(href="#") Подробнее о программе
                .lk-inform-card__col
                  .lk-inform-card__item
                    .lk-inform-card__icon
                      .lk-icon.lk-icon--64.lk-icon--done.lk-bg--5
                    .lk-inform-card__content
                      .lk-inform-card__text
                        h4.lk-inform-card__subtitle Обучение граждан в рамках федерального проекта «Содействие занятости»
                        p.lk-inform-card__desc решения для работодателей по закрытию кадровой потребности посредством организации профессионального обучения и дополнительного профессионального образования граждан.
                      a.lk-inform-card__link(href="#") Подробнее о программе
                .lk-inform-card__col
                  .lk-inform-card__item
                    .lk-inform-card__icon
                      .lk-icon.lk-icon--64.lk-icon--done.lk-bg--5
                    .lk-inform-card__content
                      .lk-inform-card__text
                        h4.lk-inform-card__subtitle Размещение вакансий на портале «Работа в России»
                        p.lk-inform-card__desc портал является федеральной государственной информационной системой Федеральной службы по труду и занятости и создан для того, чтобы помочь гражданам найти работу, а работодателям - работников.
                      a.lk-inform-card__link(href="#") Подробнее о программе

