html(lang="ru")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="./lk.css" rel="stylesheet")
    link(href="./style.css" rel="stylesheet")

  body
    .lk-wrap
      .container
        .lk-row
          .lk-aside.lk-col.lk-col_lg_3
          .lk-content.lk-col.lk-col_lg_9
            .lk-page-head
              a.lk-page-head__breadcrumbs(href="/")
                | Подбор кадров
            .lk-info-block
              .lk-info-block__content
                h2.lk-info-block__title Подготовка кадров, образование
                p.lk-info-block__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .lk-info-block__btns
                  a.lk-button.lk-button--prime.lk-info-block__button(href="#" data-for-popup="getConsultation") [Заказать услугу]
                  a.lk-button.lk-button--border.lk-info-block__button(href='#') Вопрос-ответ
              .lk-info-block__icon.lk-bg--5
                .lk-icon.lk-icon--100.lk-icon--obrazovaniye

            .lk-inform-card
              .lk-inform-card__head
                h4.lk-inform-card__title.lk-inform-card__title--big Выберите услугу
              .lk-inform-card__wrapper
                .lk-inform-card__col
                  .lk-inform-card__item
                    .lk-inform-card__icon
                      .lk-icon.lk-icon--64.lk-icon--done.lk-bg--5
                    .lk-inform-card__content
                      .lk-inform-card__text
                        h4.lk-inform-card__subtitle Организация прохождения практик/стажировок на предприятиях
                        p.lk-inform-card__desc Отбор студентов для прохождения стажировки/практики с целью формирования кадрового резерва
                      a.lk-button.lk-button--border(href="#" data-for-popup="service") Заказать услугу
                .lk-inform-card__col
                  .lk-inform-card__item
                    .lk-inform-card__icon
                      .lk-icon.lk-icon--64.lk-icon--done.lk-bg--5
                    .lk-inform-card__content
                      .lk-inform-card__text
                        h4.lk-inform-card__subtitle Открытие новых образовательных программ
                        p.lk-inform-card__desc Содействие в открытии новых образовательных программ и увеличении бюджетных мест в образовательных организациях регио....
                      a.lk-button.lk-button--border(href="#" data-for-popup="service") Заказать услугу
                .lk-inform-card__col
                  .lk-inform-card__item
                    .lk-inform-card__icon
                      .lk-icon.lk-icon--64.lk-icon--done.lk-bg--5
                    .lk-inform-card__content
                      .lk-inform-card__text
                        h4.lk-inform-card__subtitle Взаимодействие со школами региона
                        p.lk-inform-card__desc профориентация школьников под потребности работодателя
                      a.lk-button.lk-button--border(href="#" data-for-popup="service") Заказать услугу

