html(lang="ru")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="./lk.css" rel="stylesheet")
    link(href="./style.css" rel="stylesheet")

  body
    .lk-wrap
      .container
        .lk-row
          .lk-aside.lk-col.lk-col_lg_3
          .lk-content.lk-col.lk-col_lg_9
            .lk-page-head
              a.lk-page-head__breadcrumbs(href="/")
                | Подбор кадров
            .lk-info-block
              .lk-info-block__content
                h2.lk-info-block__title Информация о государственных программах и инструментах содействия занятости населения
                p.lk-info-block__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .lk-info-block__btns
                  a.lk-button.lk-button--prime.lk-info-block__button(href="#" data-for-popup="getConsultation") Получить консультацию специалиста
                  a.lk-button.lk-button--border.lk-info-block__button(href='#') Вопрос-ответ
              .lk-info-block__icon.lk-bg--5
                .lk-icon.lk-icon--100.lk-icon--certificate

            .lk-inform-card
              .lk-inform-card__head
                h4.lk-inform-card__title [Гос программы, которые помогут вам обзавестись кадрами]
              .lk-inform-card__wrapper
                .lk-inform-card__col
                  .lk-inform-card__item
                    .lk-inform-card__icon
                      .lk-icon.lk-icon--64.lk-icon--done.lk-bg--5
                    .lk-inform-card__content
                      .lk-inform-card__text
                        h4.lk-inform-card__subtitle Программа повышения трудовой мобильности
                        p.lk-inform-card__desc В рамках Программы работодатели могут получить финансовую поддержку для привлечения трудовых ресурсов.
                      a.lk-inform-card__link(href="#") Подробнее о программе
                .lk-inform-card__col
                  .lk-inform-card__item
                    .lk-inform-card__icon
                      .lk-icon.lk-icon--64.lk-icon--done.lk-bg--5
                    .lk-inform-card__content
                      .lk-inform-card__text
                        h4.lk-inform-card__subtitle Обучение граждан в рамках федерального проекта «Содействие занятости»
                        p.lk-inform-card__desc решения для работодателей по закрытию кадровой потребности посредством организации профессионального обучения и дополнительного профессионального образования граждан.
                      a.lk-inform-card__link(href="#") Подробнее о программе
                .lk-inform-card__col
                  .lk-inform-card__item
                    .lk-inform-card__icon
                      .lk-icon.lk-icon--64.lk-icon--done.lk-bg--5
                    .lk-inform-card__content
                      .lk-inform-card__text
                        h4.lk-inform-card__subtitle Размещение вакансий на портале «Работа в России»
                        p.lk-inform-card__desc портал является федеральной государственной информационной системой Федеральной службы по труду и занятости и создан для того, чтобы помочь гражданам найти работу, а работодателям - работников.
                      a.lk-inform-card__link(href="#") Подробнее о программе

    .lk-popup(data-popup='getConsultation')
      .lk-popup__wrapper.lk-popup__wrapper--large
        .lk-popup__header
          h3.lk-popup__title Заявка на получение услуги
          button.lk-popup__close(data-js="popup-close")
        .lk-popup__content
          form.lk-popup__form( )
            .lk-popup__name
              label.lk-popup__desc--small(for="service-name") Контактное лицо
                span.lk-popup__reqired *
              input.lk-popup__input.lk-popup__name-input(id="service-name" type="text" required placeholder="Placeholder")
            .lk-popup__row
              .lk-popup__col-6
                .lk-popup__phone
                  label.lk-popup__desc--small(for="service-phone" ) Телефон
                    span.lk-popup__reqired *
                  .lk-popup__phone-wrapper
                    .lk-popup__phone-code +7
                    input.lk-popup__input.lk-popup__phone-input(id="service-phone" name="service-phone" type="tel" required pattern="[0-9]{10}" placeholder="9999999999")
              .lk-popup__col-6
                .lk-popup__email
                  label.lk-popup__desc--small(for="service-email") Email
                    span.lk-popup__reqired *
                  input.lk-popup__input.lk-popup__email-input(id="service-email" type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+[a-z]{2,4}$" placeholder="Placeholder")
            .lk-popup__comment
              label.lk-popup__desc--small(for="service-message") Комментарий
              textarea.lk-popup__textarea(rows=6 id="service-message")
            input(type="text" value="").lk-popup__tiket-value
            input(type="submit" value="Отправить заявку").lk-popup__btn.lk-button--prime

    .lk-popup(data-popup='success')
      .lk-popup__wrapper.lk-popup__wrapper--large.lk-popup__wrapper--module
        .lk-popup__icon
          .lk-icon.lk-icon--80.lk-icon--done-color
        .lk-popup__module
          .lk-popup__header
            h3.lk-popup__title.lk-popup__title--big Заявка успешно отправлена
            button.lk-popup__close(data-js="popup-close")
          .lk-popup__content
            p.lk-popup__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    script(src='assets/js/lk-popup.js')