html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="./lk.css" rel="stylesheet")
    link(href="./style.css" rel="stylesheet")
    link(href="/assets/css/info-popup.css" rel="stylesheet")

  body
    div(style='height: 100vh; background: rgba(0,0,0,.5); display: flex; justify-content: center; align-items: center;')
      button.sucsessBTN(onclick="infoPopupOpen(sucsessBtn)" style='height: fit-content;') Успешная отправка

    div(style='height: 100vh; background: green')

    script(src='assets/js/info-popup.js')
    script.
      const sucsessBtn = {
        type: 'SUCCESS',
        title: 'Сообщение отправлено!',
        message: 'Ваше сообщение №160579 успешно отправлено. Наши специалисты <br> свяжутся с вами в ближайшее время.',
        linkTitle: 'На главную страницу',
        linkHref: '/'
      }
