html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="./lk.css" rel="stylesheet")
    link(href="./style.css" rel="stylesheet")

  body
    .lk-wrap
      .container
        .lk-row
          .lk-aside.lk-col.lk-col_lg_3
          .lk-content.lk-col.lk-col_lg_9
            .lk-page-head
              a.lk-page-head__breadcrumbs(href="/")
                | Подбор кадров
            .lk-info-block
              .lk-info-block__content
                h2.lk-info-block__title Привлечение персонала
                p.lk-info-block__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .lk-info-block__btns
                  a.lk-button.lk-button--prime.lk-info-block__button(href="#" data-for-popup="service" data-tiket-number='123455' data-select-value='personal') [Заказать услугу]
                  a.lk-button.lk-button--border.lk-info-block__button(href='#') Вопрос-ответ
              .lk-info-block__icon.lk-bg--5
                .lk-icon.lk-icon--100.lk-icon--badge

            .lk-inform-card
              .lk-inform-card__head
                h4.lk-inform-card__title.lk-inform-card__title--big Выберите услугу
              .lk-inform-card__wrapper
                .lk-inform-card__col
                  .lk-inform-card__item
                    .lk-inform-card__icon
                      .lk-icon.lk-icon--64.lk-icon--chair.lk-bg--5
                    .lk-inform-card__content
                      .lk-inform-card__text
                        a.lk-inform-card__subtitle(href="#") Ярмарка вакансий
                        p.lk-inform-card__desc мероприятие, проводимое в субъекте ДФО или Арктики с целью привлечения трудовых ресурсов
                      a.lk-button.lk-button--border(href="#" data-for-popup="service" data-tiket-number='12334' data-select-value='job') Заказать услугу
                .lk-inform-card__col
                  .lk-inform-card__item
                    .lk-inform-card__icon
                      .lk-icon.lk-icon--64.lk-icon--social-media.lk-bg--5
                    .lk-inform-card__content
                      .lk-inform-card__text
                        a.lk-inform-card__subtitle(href="#") Размещение вакансий в социальных сетях
                        p.lk-inform-card__desc публикации вакансий в группах КРДВ в социальных сетях ВКонтакте, OK, Фейсбук, Инстаграм и Телеграмм
                      a.lk-button.lk-button--border(href="#" data-for-popup="service" data-tiket-number='12345' data-select-value='posting') Заказать услугу
                .lk-inform-card__col
                  .lk-inform-card__item
                    .lk-inform-card__icon
                      .lk-icon.lk-icon--64.lk-icon--recruiter.lk-bg--5
                    .lk-inform-card__content
                      .lk-inform-card__text
                        a.lk-inform-card__subtitle(href="#") Оргнабор
                        p.lk-inform-card__desc мероприятие, проводимое в регионах за пределами ДФО и Арктики с целью привлечения трудовых ресурсов
                      a.lk-button.lk-button--border(href="#" data-for-popup="service" data-tiket-number='1234' data-select-value='org') Заказать услугу
                .lk-inform-card__col
                  .lk-inform-card__item
                    .lk-inform-card__icon
                      .lk-icon.lk-icon--64.lk-icon--graduation-hat-black.lk-bg--5
                    .lk-inform-card__content
                      .lk-inform-card__text
                        a.lk-inform-card__subtitle(href="#") Дни компании в ВУЗах
                        p.lk-inform-card__desc целевая презентация деятельности компании для студентов
                      a.lk-button.lk-button--border(href="#" data-for-popup="service" data-tiket-number='123' data-select-value='univer') Заказать услугу

    .lk-popup(data-popup='service')
      .lk-popup__wrapper.lk-popup__wrapper--large
        .lk-popup__header
          h3.lk-popup__title Заявка на получение услуги
          button.lk-popup__close(data-js="popup-close")
        .lk-popup__content
          form.lk-popup__form
            .lk-popup__service
              .lk-popup__desc--small Выбранная услуга
                span.lk-popup__reqired *
              select.lk-popup__select(name="select" id="select-service" required  data-js="select")
                option(value="" selected disabled) Выберете услугу
                option(value="personal") Привлечение персонала
                option(value="job") Ярмарка вакансий
                option(value="posting") Размещение вакансий в социальных сетях
                option(value="org") Оргнабор
                option(value="univer") Дни компании в ВУЗах
              .input--error

            .lk-popup__name
              label.lk-popup__desc--small(for="name") Контактное лицо
                span.lk-popup__reqired *
              input.lk-popup__input.lk-popup__name-input(id="name" name="name" type="text" required placeholder="Имя")
            .lk-popup__row
              .lk-popup__col-6
                .lk-popup__desc--small Телефон
                  span.lk-popup__reqired *
                .lk-popup__tel
                  input.lk-popup__phone(id="service-phone" name="phone" type="tel" required placeholder="(999) 999-99-99")
                  label(for="service-phone")
              .lk-popup__col-6
                .lk-popup__email
                  label.lk-popup__desc--small(for="service-email") Email
                    span.lk-popup__reqired *
                  input.lk-popup__input.lk-popup__email-input(id="service-email" name="email" type="email" required placeholder="email@address.com" )
            .lk-popup__comment
              .lk-popup__desc--small(for="service-message") Комментарий
              textarea.lk-popup__textarea(rows=6 id="service-message" name="message")
            input(type="text" name="service-ticket" value="").lk-popup__tiket-value
            button(type="submit").lk-popup__btn.lk-button--prime Отправить заявку

    .lk-popup(data-popup='success')
      .lk-popup__wrapper.lk-popup__wrapper--large.lk-popup__wrapper--module
        .lk-popup__icon
          .lk-icon.lk-icon--80.lk-icon--done-color
        .lk-popup__module
          .lk-popup__header
            h3.lk-popup__title.lk-popup__title--big Заявка успешно отправлена
            button.lk-popup__close(data-js="popup-close")
          .lk-popup__content
            p.lk-popup__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            a.lk-popup__link(href='#') Смотреть другие услуги


    script(src='assets/js/jquery-3.2.1.min.js')
    script(src='assets/js/jquery.validate.min.js')
    script(src='assets/js/jquery.inputmask.min.js')
    script(src='assets/js/select.min.js')
    script(src='assets/js/lk-popup.js')

