html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="./lk.css" rel="stylesheet")
    link(href="./style.css" rel="stylesheet")

  body
    .lk-wrap
      .container
        .lk-row
          .lk-aside.lk-col.lk-col_lg_3
          .lk-content.lk-col.lk-col_lg_9
            .lk-page-head
              a.lk-page-head__breadcrumbs(href="/")
                | Привлечение персонала
            .lk-info-block
              .lk-info-block__content
                h2.lk-info-block__title Ярмарка вакансий
                p.lk-info-block__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .lk-info-block__btns
                  a.lk-button.lk-button--prime.lk-info-block__button(href="#" data-for-popup="getConsultation") [Заказать услугу]
                  a.lk-button.lk-button--border.lk-info-block__button(href='#') Вопрос-ответ
              .lk-info-block__icon--small
                .lk-icon.lk-icon--64.lk-icon--chair.lk-bg--5

            .lk-inform-card
              .test(style="height: 100vh; background-color: #fff; text-align: center; line-height: 100vh") Содержание карточки услуги

