html.js(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="./lk.css" rel="stylesheet")
    //link(href="./style.css" rel="stylesheet")
    link(href="./assets/css/app.min.css" rel="stylesheet")
    link(href="./assets/css/airdatepicker.css" rel="stylesheet")
    link(href="./assets/css/lk-plugins.css" rel="stylesheet")
    link(href="./assets/css/lk-fonts.css" rel="stylesheet")
    link(href="./assets/css/request-form.css" rel="stylesheet")
    link(href="./assets/css/tooltipster.css" rel="stylesheet")
    style(type='text/css').
      input:read-only, select:read-only, textarea:read-only, .chosen-disabled {
        opacity: 0.5;
        border: 1px solid #cdd9e8 !important;
        }
      input[type="text"]::placeholder { color: #000;!important; }

  body
    .lk-wrap
      .container
        .lk-row.lk-body
          .lk-aside.lk-col.lk-col_lg_3
          .lk-content.lk-col.lk-col_lg_9
            .lk-content__header.is-flexbox.is-flexbox_center.is-flexbox_justify
              h1.lk-page-head__title Отчётность резидента
            DIV
              a.down-link(download title='Инструкция по заполнению отчетности' href="/upload/%D0%98%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%86%D0%B8%D1%8F%20%D0%BF%D0%BE%20%D0%B7%D0%B0%D0%BF%D0%BE%D0%BB%D0%BD%D0%B5%D0%BD%D0%B8%D1%8E%20%D0%BE%D1%82%D1%87%D0%B5%D1%82%D0%BD%D0%BE%D1%81%D1%82%D0%B8%20%D1%80%D0%B5%D0%B7%D0%B8%D0%B4%D0%B5%D0%BD%D1%82%D0%B0.pdf")
                span.down-link__img_inv
                span.down-link__text(style='max-width: 96%')
                  span.down-link__name Инструкция по заполнению отчетности
                  span.down-link__info PDF 638 КБ
              DIV(style='float: right')
                a.lk-btn.lk-btn_w.lk-btn-disabled(href='#' title='Печать возможна только при статусе отчёта "Обработан"') Распечатать

            form.lk-form--request(action method="post" id="request-residency")
              .lk-box
                .lk-form
                  .lk-box__body
                    fieldset
                      .lk-row
                        .lk-field.lk-col.lk-col_md_12
                          label Проект:
                          p Строительство холодильного склада
                          input(type="hidden" name="PROJECT_ID" value="79951")
                    fieldset
                      .lk-row
                        .lk-field.lk-col.lk-col_md_12
                          label Компания:
                          table
                            tbody
                              tr
                                td(style='width: 150px') Наименование:
                                td ОББРФ ООО
                              tr
                                td ИНН:
                                td 2508002788
              #request-residency-fields
                .lk-box.lk-box_odd
                  .lk-form
                    .lk-box__header.lk-box__header_plain
                      .is-flexbox.is-flexbox_center.is-flexbox_justify
                        .lk-title.lk-ttu Период отчетности
                    .lk-box__body
                      fieldset
                        .lk-row
                          .lk-field.lk-col.lk-col_md_6 
                            label
                              span(style='color:red') *
                              |  Отчетный квартал
                            input(type="text" name="quarter" value="4" placeholder='' pattern="^.*$" required readonly)
                          .lk-field.lk-col.lk-col_md_6 
                            label
                              span(style='color:red') *
                              |  Отчетный год
                            input(type="text" name="year" value="2021" placeholder="гггг" pattern="^.*$" required readonly)
                .lk-box.lk-box_odd
                  .lk-form
                    .lk-box__header.lk-box__header_plain
                      .is-flexbox.is-flexbox_center.is-flexbox_justify
                        .lk-title.lk-ttu 1. Контактная информация
                    .lk-box__body
                      fieldset
                        .lk-row
                          .lk-field.lk-col.lk-col_md_12 
                            label
                              span(style='color:red') *
                              |  ФИО представителя
                            input(type="text" name="applicantFullName" value="Крылова Алена Шарипчановна" placeholder='' pattern="^.*$" required readonly)
                          .lk-field.lk-col.lk-col_md_12 
                            label
                              span(style='color:red') *
                              |  Должность представителя
                            input(type="text" name="applicantPosition" value="Главный бухгалтер" placeholder='' pattern="^.*$" required readonly)
                          .lk-field.lk-col.lk-col_md_12 
                            label
                              span(style='color:red') *
                              |  Контактный номер телефона
                            input(type="text" name="applicantPhone" value="8(4236)999999" placeholder='' pattern="^.*$" required readonly)

                .lk-box.lk-box_odd
                  .lk-form
                    .lk-box__header.lk-box__header_plain
                      .is-flexbox.is-flexbox_center.is-flexbox_justify
                        .lk-title.lk-ttu 2. Общая информация о проекте
                    .lk-box__body
                      fieldset
                        .lk-row
                          .lk-field.lk-col.lk-col_md_12 
                            label
                              span(style='color:red') *
                              |  Режим налогообложения
                            select.js-select.chosen_wide(name="taxRegime" data-entity="TAX_REGIME" required style="display: none;")
                              option
                              option(value='1') Общий
                              option(value='2') УСН
                              option(value='3') ЕСХН
                              option(value='4') ЕНВД
                              option(value='5') Другое
                              option(value='6') ПСН
                          .lk-field.lk-col.lk-col_md_12 
                            label
                              |  Таможенная процедура: свободная таможенная зона
                            input#radio_freeCustomsZone_1(type="checkbox" name="freeCustomsZone[]" value="1")
                            label(for='radio_freeCustomsZone_1') Применяется

                .lk-box.lk-box_odd
                  .lk-form
                    .lk-box__header.lk-box__header_plain
                      .is-flexbox.is-flexbox_center.is-flexbox_justify
                        .lk-title.lk-ttu 3. ИНФОРМАЦИЯ О ХОДЕ РЕАЛИЗАЦИИ ПРОЕКТА
                    .lk-box__body
                      fieldset
                        .lk-row
                          .lk-field.lk-col.lk-col_md_12()
                            label
                              span(style='color:red') *
                              |  Подбор земельного участка
                            select.js-select.chosen_wide(name="landSearchStatus" data-entity="STAGE_STATUS" required )
                              option
                              option(value='1') Не начато
                              option(value='2') Выполняется
                              option(value='3') Завершено
                              option(value='4') Не требуется
                          .lk-field.lk-col.lk-col_md_12()
                            label
                              span(style='color:red') *
                              |  Подготовка и оформление земельного участка, зданий/ сооружений
                            select.js-select.chosen_wide(name="landRegistrationStatus" data-entity="STAGE_STATUS" required )
                              option
                              option(value='1') Не начато
                              option(value='2') Выполняется
                              option(value='3') Завершено
                              option(value='4') Не требуется
                          .lk-field.lk-col.lk-col_md_12()
                            label
                              span(style='color:red') *
                              |  Проектно-изыскательские работы
                            select.js-select.chosen_wide(name="geotechnicalWorksStatus" data-entity="STAGE_STATUS" required )
                              option
                              option(value='1') Не начато
                              option(value='2') Выполняется
                              option(value='3') Завершено
                              option(value='4') Не требуется
                          .lk-field.lk-col.lk-col_md_12()
                            label
                              span(style='color:red') *
                              |  Строительно-монтажные работы
                            select.js-select.chosen_wide(name="constructionStatus" data-entity="STAGE_STATUS" required )
                              option
                              option(value='1') Не начато
                              option(value='2') Выполняется
                              option(value='3') Завершено
                              option(value='4') Не требуется
                          .lk-field.lk-col.lk-col_md_12()
                            label
                              span(style='color:red') *
                              |  Приобретение оборудования и материалов
                            select.js-select.chosen_wide(name="equipmentPurchaseStatus" data-entity="STAGE_STATUS" required )
                              option
                              option(value='1') Не начато
                              option(value='2') Выполняется
                              option(value='3') Завершено
                              option(value='4') Не требуется
                          .lk-field.lk-col.lk-col_md_12()
                            label
                              span(style='color:red') *
                              |  Ввод в эксплуатацию объекта капитального строительства/ реконструкции
                            select.js-select.chosen_wide(name="commissioningStatus" data-entity="STAGE_STATUS" required )
                              option
                              option(value='1') Не начато
                              option(value='2') Выполняется
                              option(value='3') Завершено
                              option(value='4') Не требуется
                          .lk-field.lk-col.lk-col_md_12()
                            label
                              span(style='color:red') *
                              |  Запуск производства / начало оказания услуг
                            select.js-select.chosen_wide(name="productionLaunchStatus" data-entity="STAGE_STATUS" required )
                              option
                              option(value='1') Не начато
                              option(value='2') Выполняется
                              option(value='3') Завершено
                              option(value='4') Не требуется

                .lk-box.lk-box_odd
                  .lk-form
                    .lk-box__header.lk-box__header_plain
                      .is-flexbox.is-flexbox_center.is-flexbox_justify
                        .lk-title.lk-ttu 4. ОБЪЕМ ОСУЩЕСТВЛЕННЫХ ИНВЕСТИЦИЙ
                    .lk-box__body
                      fieldset
                        .lk-row
                          .lk-field.lk-col.lk-col_md_12 
                            label
                              span(style='color:red') *
                              |  Финансирование капитальных вложений (строительство, оборудование, ПИРы и пр.) накопительным итогом с даты заключения соглашения, руб. (без НДС)
                            input(type="text" name="actualCapitalInvestment" value="" placeholder='0.00' pattern="^[0-9]*[.,]?[0-9]{1,2}$" required)
                          .lk-field.lk-col.lk-col_md_12 
                            label
                              span(style='color:red') *
                              |  Освоение капитальных вложений (строительство, оборудование, ПИРы и пр.) накопительным итогом с даты заключения соглашения, руб. (без НДС)
                            input(type="text" name="actualMasteringCapitalInvestment" value="" placeholder='0.00' pattern="^[0-9]*[.,]?[0-9]{1,2}$" required)

                .lk-box.lk-box_odd
                  .lk-form
                    .lk-box__header.lk-box__header_plain
                      .is-flexbox.is-flexbox_center.is-flexbox_justify
                        .lk-title.lk-ttu 5. РАБОЧИЕ МЕСТА
                    .lk-box__body
                      fieldset
                        .lk-row
                          .lk-field.lk-col.lk-col_md_12
                            label
                              |  Количество создаваемых рабочих мест (в соотв. со штатным расписанием)
                            .lk-row
                              .lk-field.lk-col.lk-col_md_6 
                                label
                                  |  Планируемые (в соответствии с соглашением), ед.
                                input(type="text" name="JOBS_ALL[plannedWorkplaces][]" value="" placeholder='0.0' pattern="^[0-9]*[.,]?[0-9]{1,2}$" )
                              .lk-field.lk-col.lk-col_md_6 
                                label
                                  span(style='color:red') *
                                  |  Созданные на конец отчетного периода (по проекту)
                                input(type="text" name="JOBS_ALL[actualWorkplaces][]" value="" placeholder='0.0' pattern="^[0-9]*[.,]?[0-9]{1,2}$" required)
                          .lk-field.lk-col.lk-col_md_12
                            label
                              |  Количество трудоустроенных сотрудников
                            .lk-row
                              .lk-field.lk-col.lk-col_md_6 
                                label
                                  |  Планируемые (в соответствии с соглашением), ед.
                                input(type="text" name="JOBS_EMPLOYED[plannedEmployed][]" value="" placeholder='0' pattern='^[\d]*$' )
                              .lk-field.lk-col.lk-col_md_6 
                                label
                                  span(style='color:red') *
                                  | Трудоустроенные на конец отчетного периода (по проекту)
                                input(type="text" name="JOBS_EMPLOYED[actualEmployed][]" value="" placeholder='0' pattern='^[\d]*$' required)
                          .lk-field.lk-col.lk-col_md_12
                            label
                              |  В т.ч. высокопроизводительных сотрудников
                            .lk-row
                              .lk-field.lk-col.lk-col_md_6 
                                label
                                  |  Планируемые (с даты заключения соглашения), ед.
                                input(type="text" name="JOBS_HI_PERF[plannedHighPerformanceJobs][]" value="" placeholder='0' pattern='^[\d]*$' )
                              .lk-field.lk-col.lk-col_md_6 
                                label
                                  span(style='color:red') *
                                  |  Созданные на конец отчетного периода (по проекту)
                                input(type="text" name="JOBS_HI_PERF[actualHighPerformanceJobs][]" value="" placeholder='0' pattern='^[\d]*$' required)
                          .lk-field.lk-col.lk-col_md_12
                            label
                              | В т.ч. сотрудников, замещенных иностранной рабочей силой
                            .lk-row
                              .lk-field.lk-col.lk-col_md_6 
                                label
                                  |  Планируемые (с даты заключения соглашения), ед.
                                input(type="text" name="JOBS_FOREIGN[plannedForeignWorkers][]" value="" placeholder='0' pattern='^[\d]*$' )
                              .lk-field.lk-col.lk-col_md_6 
                                label
                                  span(style='color:red') *
                                  |  Трудоустроенные на конец отчетного периода (по проекту)
                                input(type="text" name="JOBS_FOREIGN[actualForeignWorkers][]" value="" placeholder='0' pattern='^[\d]*$' required)
                          .lk-field.lk-col.lk-col_md_12
                            label
                              span(style='color:red') *
                              | В т.ч. сотрудников, замещенных иностранной рабочей силой
                            input(type="text" name="averageSalarySize" value="" placeholder='0.0' pattern="^[0-9]*[.,]?[0-9]{1,2}$" required)

                .lk-box.lk-box_odd
                  .lk-form
                    .lk-box__header.lk-box__header_plain
                      .is-flexbox.is-flexbox_center.is-flexbox_justify
                        .lk-title.lk-ttu 6. ОБЪЕМ ПРОИЗВОДСТВА
                    .lk-box__body
                      fieldset
                        .lk-row
                          .lk-field.lk-col.lk-col_md_12 
                            label
                              span(style='color:red') *
                              |  Выручка от реализации товаров и услуг за отчетный квартал, руб.
                            input(type="text" name="salesVolume" value="" placeholder='0.00' pattern="^[0-9]*[.,]?[0-9]{1,2}$" required)
                          .lk-field.lk-col.lk-col_md_12
                            label
                              |  в том числе на экспорт, руб.
                            input(type="text" name="exportVolume" value="" placeholder='0.00' pattern="^[0-9]*[.,]?[0-9]{1,2}$")
                          .lk-field.lk-col.lk-col_md_12
                            label
                              span(style='color:red') *
                              | Расходы, связанные с производством и реализацией товаров, работ, услуг, за отчетный квартал (руб.)
                            input(type="text" name="productionCosts" value="" placeholder='0.00' pattern="^[0-9]*[.,]?[0-9]{1,2}$" required)
                          .lk-field.lk-col.lk-col_md_12
                            label
                              | В т.ч. оплата труда, (руб.)
                            input(type="text" name="laborCosts" value="" placeholder='0.00' pattern="^[0-9]*[.,]?[0-9]{1,2}$")
                          .lk-field.lk-col.lk-col_md_12
                            label
                              | В т.ч. амортизация, (руб.)
                            input(type="text" name="depreciationCosts" value="" placeholder='0.00' pattern="^[0-9]*[.,]?[0-9]{1,2}$")
                          .lk-field.lk-col.lk-col_md_12
                            label
                              | Расходы, связанные с отчислением в гос.внебюджетные фонды, (руб.)
                            input(type="text" name="extrabudgetaryCosts" value="" placeholder='0.00' pattern="^[0-9]*[.,]?[0-9]{1,2}$")

                .lk-box.lk-box_odd
                  .lk-form
                    .lk-box__header.lk-box__header_plain
                      .is-flexbox.is-flexbox_center.is-flexbox_justify
                        .lk-title.lk-ttu 7. ПРОБЛЕМНЫЕ ВОПРОСЫ
                    .lk-box__body
                      fieldset
                        .lk-row
                          .lk-field.lk-col.lk-col_md_12.multiply-table
                            .lk-row
                              .delete-btn.js-delete-founder(onclick='deleteRow(this);') Delete
                              .lk-field.lk-col.lk-col_md_4
                                label
                                  | Категория
                                select.js-select.chosen_wide(name="PROBLEMATIC_ISSUES[problemCategory][]" )
                                  option(value='0' selected) Нет
                                  option(value='3') Земельно-имущественные отношения
                                  option(value='4') Административные барьеры
                                  option(value='5') Налогообложение и применение преференций
                                  option(value='7') Финансирование
                                  option(value='8') Взаимодействие с АО КРДВ (УК ТОР)
                                  option(value='9') Инфраструктура
                                  option(value='10') Подрядчики
                                  option(value='11') Внутренние проблемы резидента
                                  option(value='12') Исполнение обязательств по соглашению
                                  option(value='13') Получение документов от ФОИВ, РОИВ, ведомств и т.д.
                                  option(value='14') Кадры
                                  option(value='15') Сбыт продукции
                                  option(value='16') Земля СПВ (отмена преференции 26.10.2021)
                              .lk-field.lk-col.lk-col_md_4
                                label
                                  | Суть вопроса
                                textarea(name="PROBLEMATIC_ISSUES[problemEssence][]" rows="2")
                              .lk-field.lk-col.lk-col_md_4
                                label
                                  | Комментарий
                                textarea(name="PROBLEMATIC_ISSUES[problemEssence][]" rows="2")
                              .lk-field.lk-col.lk-col_md_12
                                input(name="PROBLEMATIC_ISSUES[problemComment][]" type="hidden" pattern="^.*$")

                            a.lk-btn.lk-btn_i.lk-r.multiply-table-add(href='#')
                              i.im.im-plus
                              | Добавить

                .lk-box.lk-box_odd
                  .lk-form
                    .lk-box__body
                      fieldset
                        .lk-row
                          .lk-field.lk-col.lk-col_md_12
                            label
                              span(style='color:red') *
                              |  Общий комментарий к отчёту
                            textarea(name="generalComment" rows="2")

                .lk-box.lk-box_odd
                  .lk-box
                    .lk-box__header.lk-box__header_plain
                      .is-flexbox.is-flexbox_center.is-flexbox_justify
                        .lk-title.lk-ttu Документы
                        .lk-box__header__btns
                      .is-flexbox.is-flexbox_center.is-flexbox_justify
                        div
                          | Внимание! Общий объем прилагаемых фалов документов не должен привышать 20Мб!
                      .is-flexbox.is-flexbox_center.is-flexbox_justify
                        div
                          | Если общий размер загружаемых файлов превышает 20 Мб, необходимо направлять документы на info@erdc.ru (можно использовать ссылку на файлы в облаке).
                    .lk-form
                      .lk-box__body.lk-bg_gray
                        fieldset.lk-uploader-flds
                          .lk-col.lk-col_md_12.js-lk-document-uploader.has-advanced-upload(data-bp-uploader-action='/local/components/itrack/document.uploader/ajax.php')
                            .lk-uploader
                              input(type="file" name="file")
                              input(type="hidden" name="project_id" value="26816")
                              input(type="hidden" name="company_id" value="26815")
                              input(type="hidden" name="parent_id" value="151567")
                              input(type="hidden" name="type_id" value="26157")
                              input(type="hidden" name="upload_action")
                              input(type="hidden" name="upload_template" value="documents")
                              .lk-uploader__icon
                              .lk-uploader__info(style="position: relative")
                                .lk-uploader__title Произвольный документ квартального отчёта
                                .lk-uploader__descr Документ отсутствует
                                .lk-uploader__actions
                                  .lk-btn.lk-btn_i.lk-btn_sm
                                    i.im.im-upload
                                    | Загрузите документ
                                  .lk-uploader__drag или перетащите его сюда
                                  .lk-uploader__progress
                                    .lk-uploader__progress__bar(style="width:0%")
                                    .lk-uploader__progress__legend.lk-fw_500
                                      span.lk-uploader__progress__text из
                                      span.lk-uploader__progress__size
                                  .lk-uploader__error
                                    .lk-uploader__error__legend.lk-fw_500.js-lk-uploader-error Ошибка!

                .lk-box
                  .lk-form
                    .lk-box__footer.lk-box__footer_btn
                      a.lk-btn.lk-btn_i.send-request()
                        i.im.im-check
                        |Отправить отчёт
                      a.save-request(href="javascript:") Сохранить черновик


    script(src='./assets/js/lk-plugins.js')
    script(src='./assets/js/lk.js')
    script(src='./assets/js/airdatepicker.js')
    script(src='./assets/js/quarter-report-form-validation.js')
    script(src='./assets/js/request-form.js')
    script(src='./assets/js/tooltipster.js')
    script(type="text/javascript")
      | new window.app.requestForm("#request-residency",{
      | fieldToUpdate : [],
      | selectValues : {'NEED_FOR_LAND':{'1':'Не требуется','2':'Обеспечен','3':'Частично обеспечен','4':'Не обеспечен'},'STAGE_STATUS':{'4':'Не требуется','1':'Не начато','2':'Выполняется','3':'Завершено'},'TAX_REGIME':{'5':'Другое','6':'ПСН','1':'Общий','2':'УСН','3':'ЕСХН','4':'ЕНВД'},'PROBLEM_CATEGORY':{'0':'Нет','3':'Земельно-имущественные отношения','4':'Административные барьеры','5':'Налогообложение и применение преференций','7':'Финансирование','11':'Взаимодействие с АО КРДВ (УК ТОР)','14':'Инфраструктура','16':'Подрядчики','21':'Внутренние проблемы резидента','24':'Исполнение обязательств по соглашению','27':'Получение документов от ФОИВ, РОИВ, ведомств и т.д.','28':'Контрольно-надзорное давление','29':'Кадры','30':'Сбыт продукции','31':'Земля СПВ (отмена преференции 26.10.2021)'}},
      | selectValuesActive : {'taxRegime':[['3']],'landSearchStatus':[[]],'landRegistrationStatus':[[]],'geotechnicalWorksStatus':[[]],'constructionStatus':[[]],'equipmentPurchaseStatus':[[]],'commissioningStatus':[[]],'productionLaunchStatus':[[]],'PROBLEMATIC_ISSUES[problemCategory][]':['']}		});

